@font-face {
  font-family: "Raleway";
  src: url("./fonts/RalewayRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url("./fonts/RalewayBold.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSansBlack";
  src: url("./fonts/MuseoSansBlack.ttf") format("truetype");
}